{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="main-card-box card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-main shadow-dark border-radius-lg pt-4 pb-3">
                    <h2 class="text-white text-capitalize ps-3">Add New PM Plan</h2>
                </div>
            </div>
            <div class="card-body px-4 pb-4">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="col-12 d-flex justify-content-end align-items-center sticky-top bg-white py-2 mb-4 border-bottom">
                        <div class="d-flex gap-2 mt-3">
                            {{ form.submit(class="btn bg-gradient-main") }}
                            <a class="btn reset-button-box shadow-dark" href="{{ url_for('routes.maintenance_plans') }}">Back</a>
                        </div>
                    </div>
                    {% include 'includes/maintenance_plan_fields.html' %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
